<h1>Статистика</h1>
<%= link_to 'New project', new_project_path %>
<div id="projects">
	<% for project in @projects %>
		<div id="project_<%= project.id -%>">
			<%= render :partial => "chunk", :locals => { :project => project } %>
		</div>
	<% end %>
</div>
<script>
	new PeriodicalExecuter(function(pe) {
		new Ajax.Request("<%= updated_projects_path -%>", {
			method: 'get',
			onSuccess: function(transport) {
				transport.responseText.evalScripts();
//				alert(transport.responseText)
			}
		});

	}, 20);
</script>